body {
    color: green;
    ul.list {
        li {
            color: red;
            a {
                font-weight: bold;
            }
            a.thin {
                font-weight: normal;
            }
        }
    }
}
